<div class="container">
  <label class="labelz">Description:</label> <input type="text" ng-model="aic.description"><br><br>
<label class="labelz">Image URL:</label> <input type="text" ng-model="aic.imgUrl">
  <br>
  <br>
   <label class="labelz">Climate:</label><form class="styled-select black rounded">
      <select ng-model="aic.climate">
      <option value="" disabled selected><--Please Select--></option>`
      <option value="clear sky">Clear Sky</option>
      <option value="rain">Rain</option>
      <option value="snow">Snow</option>
      </select>
    </form>
    <br>
    <br>


  <button class="btn btn-default" ng-click="aic.addItem(); aic.getAll()">Add Item</button>
  <button class="btn btn-default" ng-click="aic.logout()">Log Out</button>
</div>
