<div class="addItemPage">
  <label class="labelz">Brand/Model:</label> <input type="text" ng-model="aic.description"><br><br>
  <label class="labelz">Image URL:</label> <input type="text" ng-model="aic.imgUrl">
  <br>
  <br>
   <label class="labelz">Climate:</label>
   <form class="styled-select black rounded">
      <select ng-model="aic.climate">
      <option value="" disabled selected><--Please Select--></option>`
      <option value="clear sky">Clear Sky</option>
      <option value="rain">Rain</option>
      <option value="snow">Snow</option>
      </select>
    </form>

    <br>
    <br><br><br>

<div class="specialButtons">
  <button class="action-button shadow animate blue" ng-click="aic.addItem(); aic.getAll()">Add Item</button>
  <a href="#user" class="action-button shadow animate green" role="button">HOME</a>
  <button class="action-button shadow animate red" ng-click="aic.logout()">Log Out</button>
</div>

</div>
