<div>
    <button id=" myShoeLogout" class="btn btn-danger" ng-click="msc.logout()">Log Out</button>
    <a href="#user" class="btn btn-info" role="button">User Page</a>
</div>

<div style="height: 305px">
    <div uib-carousel="" active="true" interval="5000" no-wrap="true">
        <div uib-slide="" active="shoes.active" ng-repeat="shoes in msc.shoes" index="$index">
            <img ng-src="{{shoes.imgUrl}}" style="margin:auto;" />


        </div>
    </div>
    <div class="deleteButton">
    <button class="btn btn-warning" ng-click="msc.removeShoes(shoes._id)">DELETE</button>
    </div>
</div>
