<div>
    <button id=" myShoeLogout" class="btn btn-danger" ng-click="msc.logout()">Log Out</button>
    <a href="#user" class="btn btn-info" role="button">Home</a>
</div>

<div style="height: 305px">
  
    <div uib-carousel="" active="true" interval="3000" no-wrap="false">
        <div uib-slide="" active="shoe.active" ng-repeat="shoe in msc.shoes" index="$index">
            <img ng-src="{{shoe.imgUrl}}" style="margin:auto;" />
            <div class="deleteButton">
                <button class="btn btn-warning" ng-click="msc.removeShoes(shoe._id)">DELETE</button>
            </div>


        </div>

    </div>


</div>
