<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-info" style="margin-top:50px;">
        <div class="panel-heading"><h4 class="text-center">PLEASE REGISTER</h4></div>
          <div class="panel-body">
  <h1 class="lead"></h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div class="form group">
        <label for="username">Username:</label>
        <input type="text" ng-model="lc.user.username" />
    </div><br>
    <div class="form group">
        <label for="password">Password:</label>
        <input type="password" ng-model="lc.user.password" />
    </div><br>
    <input class="btn btn-success btn-block" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
