<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
    <p>This is the user page!</p>

    <button class="btn btn-primary" type="button" name="button"><a href="#addItem">ADD ITEM</a></button>
    <button class="btn btn-primary"type="button" name="button"> <a href="#myShoes">MY SHOES</a></button>
    <button class="btn btn-primary" type="button" name="button"> <a href="#selectShoes">SELECT SHOES</a></button>
    <button id="logOut" class="btn btn-info" ng-click="uc.logout()">Log Out</button>


</div>
